{%extends "wyniki.html"%}
{%block navig%}
        {{super()}} Jesteś tu: <a href="{{ url ('index')}}">Polska</a>
        <a href=" {{ url('wojewodztwo', args=[wojewodztwo.id])}}">{{ wojewodztwo.nazwa }}</a>
        <a href="{{url('powiat', args=[powiat.id])}}">  {{ powiat.nazwa }}</a>
        <a href="{{url('gmina', args=[gmina.id])}}">
            Gmina {{ gmina.nazwa }}</a>
{%endblock%}
{%block links%}
    <section id="linki">
        <header>
            Obwody:
        </header>
        <table id="linki_tabelka">
            {% for o in adresyObwodow %}
                <tr>
                    <td>
                        <a href="{{url('obwod', args=[o['id']])}}">
                            Obwód nr {{ o['numer'] }}
                        </a>
                    </td>
                    <td>
                        <a href="{{url('obwod', args=[o['id']])}}">
                            {{ o['adres'] }}
                        </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </section>
{%endblock%}