{%extends "wyniki.html"%}
{%block navig%}
       {{super()}} <a href="{{ url ('index')}}">Powrót do strony głównej</a>
{%endblock%}
{% block komunikaty %}
    {{ komunikat }}
{% endblock %}
{%block dane%}
    <header><h2>Proszę się zalogować:</h2></header>
        <form method="post" action="#">
            <input name="csrfmiddlewaretoken" value="{{csrf_token}}" type="hidden">
            {{ form }}
            <input  type="submit" name="submit" value="Zaloguj się" >
        </form>
{%endblock%}
{% block wyniki %}
{% endblock %}

