{%extends "wyniki.html"%}
{%block navig%}
        {{super()}} Jesteś tu: <a href="{{ url ('index')}}">Polska</a>
         <a href=" {{ url('wojewodztwo', args=[wojewodztwo.id])}}">{{ wojewodztwo.nazwa }}</a>
        <a href="{{url('powiat', args=[powiat.id])}}">  {{ powiat.nazwa }}</a>
{%endblock%}
{%block links%}
    <section id="linki">
        <header>
            Gminy:
        </header>
        <ul id="linki_lista">
            {% for g in gminyWPowiecie %}
                <li>
                        <a href="{{url('gmina', args=[g['id']])}}">
                            Gmina {{ g['nazwa'] }}
                        </a>
                </li>

            {% endfor %}
        </ul>
    </section>
{%endblock%}